#table_content{
	border-collapse: collapse;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333;
	border-bottom-color: #333;
	
}
#table_content th,td{
	margin: 0px;
	padding: 8px;
	font-size: 8pt;
	font-family: 맑은 고딕;
}

#table_content th{
	background-color: #999;
	color: #fff;
	border-bottom-width: 1px;
	border-bottom-color: #333;
}
#table_content td{
	border-bottom-width: 1px;
	border-bottom-color: #666;
	border-bottom-style: dotted;
	color: #fff;
}
#table_content .dataTr:HOVER {
	background-color: #FC6;
	cursor: pointer;
	cursor: hand;
}

/* 마우스 대면 손가락 모양으로 바뀌게 만들었다. */
#table_content .resday:HOVER {
	background-color: #FC6;
	cursor: pointer;
	cursor: hand;
}

#table_content .tdleft{
	text-align: left;
}
#table_content .tdcenter{
	text-align: center;
}
#table_content a{
	text-decoration: none;
	color:black;
}
#table_content a.post{
	text-decoration: none;
	color:white;
}
#table_content a:HOVER{
	text-decoration: underline;
	color:green;
}
#abc,
img,
input[type="submit"],
input[type="button"],
input[type="text"], 
select, 
textarea, 
input[type="password"] {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px #CCC solid;
}



